/* VARIABLES */
:root {
    --primary-color: #90E0F3;
    --secondary-color:#44586e;
  }

  html {
    scroll-behavior:smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.54;
    text-align: center;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  #profile {
    max-height: 30%;
    width: auto;
    border-radius: 50%;
  }

  #img-header {
        max-height: 60px;
        width: auto;
        justify-content: flex-start;
  }
  
  
  /* UTILITY CLASSES */
  .container {
    max-width: 1200px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
  }
  
  .btn {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    margin-top: 4rem;
    text-align: center;
    display: inline-block;
    padding: .6rem 1.5rem;
    border-radius: 3px;
    background-color: #2ec4b6;
    transition: all .3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #a9d6e5;
    box-shadow: -5px 5px 0px 0px #2ec4b6;
  }
  
  /* ABOUT PAGE */
  #about {
    height: 100vh;
    background-color: #011638;
  }
  
  #navbar {
    background-color: #011638;
    color: #fff;
    padding: 0rem 3rem;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
  }
  
  #navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  #navbar ul a {
    display: inline-block;
    padding: 1.2rem 2rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
  }
  
  #navbar ul a:hover {
    background-color: rgb(253, 6, 47);
  }
  
  #about .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .lead {
    font-size: 1.5rem;
    color: #eee;
    font-weight: 100;
  }
  
  #caption {
    color: rgb(240, 248, 255);
  }
  
  #projects {
    text-align: center;
    width: 100%;
    padding: 7rem .1rem;
    background-color: var(--secondary-color);
  }
  
  #projects .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    margin-top: 2rem;
  }
  
  #projects .container>h1 {
    font-size: 2.6rem;
    color: #fff;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: .6rem;
    line-height: 1.2;
  }
  
  #bottom-line {
    height: 6px;
    background-color: #fff;
    width: 55%;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
  }

  #projects .projects .box {
    background-color: #eee;
    border: 5px solid #eee;
    border-radius: 3px;
  }
  
  #projects .projects .box a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
  }
  
  #projects .projects .box a p {
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    color: #333;
  }
  
  
  .code {
    color: #eee;
    transition: .5s all ease;
    font-size: 1.6rem;
  }
  
  #projects .projects .box:hover .code {
    color: var(--primary-color);
  }
  
  /* CONTACT SECTION */
  #contact {
    height: 100vh;
    background-color: #364156;
    color: #fff;
  }
  
  #contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  #contact .container h1 {
    font-size: 3.4rem;
    font-weight: bolder;
    padding-bottom: .1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  #contact .container p {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 2rem;
    color: #eee;
  }
  
  #contact .container .social>div a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #eee;
    margin: 1rem 2rem;
    font-weight: bolder;
    transition: transform .5s;
  }
  
  #contact .container .social>div a:hover {
    transform: translateY(-5px);
  }
  
  /* FOOTER SECTION */
  #main-footer {
    border-top: solid 4px white;
    padding: 1.6rem;
    background-color: #364156;
    color: #fff;
    font-size: large;
  }
  
  @media (max-width: 760px) {
    #navbar {
      /* display: none; */
      padding: 0rem 1rem;
      justify-content: center;
    }

    .navbar_container {
      display: flex; 
      justify-content: space-between;
      height: 70px; 
      z-index: 1;
      width: 100%; 
      max-width: 1300px;
      padding: 0;
    }

    .navbar_menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
      left: 0px;
    }

    .navbar_menu.active {
      background-color: #011638;
      top: 100%;
      opacity: 1;
      transition: all 0.2s ease;
      z-index: 99;

    }

    .navbar_toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.2s ease-in-out;
      background: #fff;
    }

    #navbar ul{
      display: block;
    }

    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
      display: block;
      cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

   
    #projects .projects {
      grid-template-columns: repeat(1, 1fr);
    }
  
    #contact .container p {
      margin-bottom: 1.5rem;
    }
  
    #contact .container .social>div a {
      display: block;
      margin: 1rem 1.5rem;
    }
  
    #main-footer .container {
      flex-direction: column;
    }
  
    #main-footer #creator {
      margin-top: 1rem;
    }
    
  }